section.newsletter#newsletter
  .flex.flex--center
    .col-spread
      .lead-text Subscribe to our
      h1.title-text Newsletter
      
      .nl-signup-box.
        <div id="mc_embed_signup">
          
          <form action="//g3n3.us12.list-manage.com/subscribe/post?u=3d8cc565d72ea36d070f746e5&amp;id=18b6d27bcd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            
            <div id="mc_embed_signup_scroll">
          	
              <div class="input-group">
                
                <div class="mc-field-group">
                	<label for="mce-NAME">Name</label>
                	<input type="text" value="" name="NAME" class="required" id="mce-NAME">
                </div>
                
                <div class="mc-field-group">
                	<label for="mce-EMAIL">Email</label>
                	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                </div>
              	
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
              
              </div>
              
              <div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>
              
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_3d8cc565d72ea36d070f746e5_18b6d27bcd" tabindex="-1" value="">
              </div>
              
              </div>
              
          </form>
        
        </div>
        
      .lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.

      
