section.projects#projects
  .projects-wrap  
    .flex.flex--center
      .col-spread
        h1.title-text Projects
        p.lead-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    
    .flex.flex--center
      .col-full

        .cards
          .card
            .card-image
              img(src='http://fillmurray.com/g/260/210', alt='')
                
            .card-header
              | First Project
                 
            .card-copy
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
               
          .card
            .card-image
              img(src='http://placebear.com/g/200/300', alt='') 

            .card-header
              | Another Project
              
            .card-copy
              p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga, officiis sunt neque facilis culpa molestiae necessitatibus delectus veniam provident.
            
          .card
            .card-image
              img(src='http://placekitten.com/g/300/280', alt='')
               
            .card-header
              | Third Project
                
            .card-copy
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
