html, body
  background-color: white
  font-size: 14px
  line-height: 1.6
  font-family: 'Open Sans', sans-serif
  color: #444
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%


  background: #f5f5f5
