$about-border-radius: 20px

.section-about
  background: $background-color
  // @include linear-gradient(to left, lighten($aqua, 28%), lighten($aqua, 12%))
  min-height: 100vh
  display: flex
  justify-content: center
  flex-direction: column

  .col-spread
    +transition


  .title-text
    color: white
    margin-bottom: 3rem

  .lead-text
    color: #555
    // text-align: center
    font-size: 1.1rem
    margin: 4rem 0

  .button-cta
    // background: rgba(white, .5)
    border: 1px solid #aaa
    margin: 3rem 0
    transform: scale(1)


    &.hidden
      display: none


  #about-block
    overflow: hidden

    .block--about
      padding: 2rem 0 0
      // position: absolute
      display: none

      &.is-open
        display: block
        // opacity: 0
        animation: slideIn 600ms ease-in-out
        z-index: 3

      @keyframes slideIn
        0%
          opacity: 0
          transform: translateY(-1000px)
        40%
          opacity: 1
        100%
          opacity: 1
          transform: translateY(0px)

      .col-side
        margin: 0 0 4.5rem
        padding: 2rem 4rem
        border: 4px dashed $background-color
        background: lighten($background-color, 10%)

        &.col-side--left
          // @include linear-gradient(to bottom, lighten($aqua, 18%), lighten($aqua, 12%))
          border-left: none

          border-top-right-radius: $about-border-radius
          border-bottom-right-radius: $about-border-radius
          // box-shadow: inset 0px 7px 9px -9px lighten($aqua, 0%)
          padding-left: 10rem

        &.col-side--right
          // @include linear-gradient(to left, white, lighten($aqua, 12%))
          border-right: none
          border-top-left-radius: $about-border-radius
          border-bottom-left-radius: $about-border-radius
          // box-shadow: inset 0px 7px 9px -9px lighten($aqua, 12%)
          padding-right: 10rem

        h2
          border-bottom: 1px solid transparentize(#333, 0.8)
          display: inline-block
          margin: .4rem 0 .2rem 0
          font-style: italic

        .lead-text
          color: #666
          text-align: left
          font-size: 1rem


    @media (max-width: 640px)
      .col-side
        &.col-side--left, &.col-side--right
          padding: 1rem 2rem
          border-radius: 0
          box-shadow: inset 0px 7px 14px -7px rgba(0,0,0,0.2)
