.home-wrap
  header
    width: 200px
    background: white
    padding: 2rem 0 1rem
    z-index: 5
    .header-position
      position: fixed
      width: 200px
      top: 3rem
      left: 0
      bottom: 3rem
      display: flex
      flex-direction: column
      justify-content: space-between

    .logo
      +hide-text
      max-width: 156px
      background:
        image: url(../img/logo_pin_only.png)
        repeat: no-repeat
        position: center
        size: contain
      height: 4rem
      padding: 0
      margin: 0 auto
      opacity: 1
      transform: scale(1)
      transition: all 100ms ease-in-out


      &.logo--invisible
        opacity: 0
        transform: scale(.3)

        // @media (max-width: 800px)
        //   opacity: 1
        //   transform: scale(1)

  .site-nav
    position: relative

    .nav-seperator

      margin: 0 34px 0 40px
      height: 1px
      @include linear-gradient(to left, #ddd, white)
      opacity: 0
      animation: langFade 400ms 800ms ease-in-out forwards


    ul
      list-style: none
      margin: 1rem 0
      padding: 0 34px 0 0
      text-align: right


      .link--active, .language--active
        color: $brand-color !important
        border-bottom: 1px solid lighten($brand-color, 30%)
        transition: all 300ms ease-in-out

    .language-list
      display: flex
      justify-content: flex-end
      opacity: 0
      animation: langFade 400ms 600ms ease-in-out forwards
      @keyframes langFade
        0%
          transform: translateX(-30px)
          opacity: 0

        100%
          transform: translateX(0px)
          opacity: 1


      li
        margin-left: .4rem


        a
          color: #ccc

    .link-list
      li
        margin-bottom: .5rem
        opacity: 0

        &:last-child
          margin-bottom: 0
          margin-top: 1rem

        .scroll-on-page-link
          border-bottom: 1px solid transparent
          transition: all 100ms ease-in-out

          &.donate
            display: block
            max-width: 100px
            float: right
            // border: 1px solid darken($background-color, 10%)
            padding: 4px 8px
            box-shadow: 0px 0px 0px 1px darken($background-color, 10%)
            background: white
            color: darken($background-color, 10%)
            // transform: scale(.9)
            transform-origin: right
            transition: all 200ms ease-in-out
            cursor: pointer
            font-weight: bold
            width: auto
            text-align: center


            &:hover
              box-shadow: 0px 0px 1px 1px darken($background-color, 10%)
              background: $background-color
              color: white

          .fa-gift
            display: block
            font-size: 2em
            // margin-right: .4rem

        @for $i from 1 through 7
          &:nth-child(#{$i})
            animation:
              name: fadeIn
              duration: 300ms
              delay: 1100ms + (100ms * $i - 300)
              timing-function: ease-in-out
              fill-mode: forwards

        @keyframes fadeIn
          0%
            transform: translateX(-30px)
            opacity: 0

          100%
            transform: translateX(0px)
            opacity: 1




  .icon-box
    position: relative
    // bottom: 2rem
    display: flex
    justify-content: center
    margin: 0 auto


    .icon
      width: 30px
      height: 30px
      margin: 0 .6rem
      cursor: pointer
      border-radius: 50%
      opacity: 0

      filter: grayscale(1) blur(1px) opacity(.4)


      @for $i from 1 through 3
        &:nth-child(#{$i})
          animation:
            name: fadeInIcons
            duration: 500ms
            delay: 2200ms + (100ms * $i - 300)
            timing-function: ease-in-out
            fill-mode: forwards

      @keyframes fadeInIcons
        0%
          transform: translateX(-30px)
          opacity: 0

        100%
          transform: translateX(0px)
          opacity: 1
      +transition

      &:hover
        filter: grayscale(0) blur(0px) opacity(1)

      &.icon--fb
        background:
          image: url(../img/icons/facebook.svg)

      &.icon--tw
        background:
          image: url(../img/icons/twitter.svg)

      &.icon--tg
        background:
          image: url(../img/icons/at.svg)

  .mobile-nav-toggle
    display: none
    width: 50px
    height: 50px
    margin-right: .4rem
    // background: pink
    align-items: center
    cursor: pointer

    span,
    span:before,
    span:after
      content: ''
      display: block
      height: 3px
      width: 100%
      background: #000
      position: relative
      +transition(all 300ms ease-out)
    span:before
      top: 15px

    span:after
      top: -17px

    &.is-active span
      background: transparent

    &.is-active span:before,
    &.is-active span:after
      transform-origin: center
      transform: rotate(45deg)
      top: 3px

    &.is-active span:after
      transform: rotate(-45deg)
      top: 0

  .mobile-nav
    // display: none
    position: absolute
    width: 100%
    background: white
    padding: 5rem 0 2.5rem
    transform: translateY(-100%)
    transition: all 300ms ease-out
    z-index: 4

    ul
      list-style: none
      margin: 0
      padding: 0
    li
      text-align: center
      margin-bottom: .5rem



@media (max-width: 800px)
  .home-wrap
    header
      width: auto
      padding: 1rem
      background: white
      .header-position
        position: relative
        width: auto
        top: auto
        bottom: auto
        left: auto
        flex-direction: row
        align-items: center
        z-index: 5

      .site-nav,
      .placeholder
        display: none

      .logo
        height: 2.5rem
        margin-left: -1rem

      .mobile-nav-toggle
        display: flex

    .mobile-nav.is-active
      display: block
      background: lighten(lightblue, 10%)
      transform: translateY(0%)
