section.participate

  background-color: white
  min-height: 600px

  color: #444

  .col-spread
    text-align: center
    margin: 0 auto 2rem
    padding: 0 2rem


  .col-1
    width: 401px
    height: 401px
    margin: 0 auto
    position: relative
    border-radius: 50%
    margin-bottom: 1rem
    // overflow: hidden
    filter: blur(1px) grayscale(.5)

    &:hover
      filter: blur(0px)

    &:hover .col-content
      opacity: 1
    // .image
    //   width: 460px
    //   height: 460px

      border-radius: 50%

    &.col--participate
      // .image
      background:
        image: url(../img/participate-icon_small_desat.png)
        repeat: repeat
        attachment: fixed

    &.col--donate
      // .image
      background:
        // color: pink
        image: url(../img/donate-icon_small_desat.png)
        repeat: repeat
        position: center
        attachment: fixed




    .col-content

      opacity: 0
      +transition
      // @include position (absolute, 0)
      background:
        color: rgba($background-color, .95)

      border-radius: 50%
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
      color: white
      padding: 20px 60px
      text-align: center
      @include position(absolute, -2px)
      filter: blur(0px)
      // border: 3px solid rgba(black, .3)

      // &.col-content--participate
      //   box-shadow: 1px 1px 3px rgba(black, .5) inset
      //
      // &.col-content--donate
      //   box-shadow: -1px 1px 3px rgba(black, .5) inset


      h1
        font-size: 3rem
        margin: 0
        text-transform: uppercase

      p
        font-weight: 300



  @media (max-width: 1024px)
    .flex
      display: block

    .col-1
      margin: 1rem auto


      .col-content
        padding: 20px 30px

  @media (max-width: 800px)
    .col-1
      filter: none

      .col-content
        opacity: 1 !important

  @media (max-width: 480px)
    .col-1
      border-radius: 0
      width: 100%
      height: 250px
      padding: 1rem 0
      margin: 1rem auto

      .col-content
        border-radius: 0
