section.startscreen
  width: 100%
  height: 100vh
  background: white
  display: flex
  justify-content: center
  padding: 0px

.flex
  flex-direction: column
  width: 100%

.col-full
  align-self: center
  width: 100%
  perspective: 1000px
  position: relative
  // padding: 1rem

.start-logo
  +hide-text
  height: 8rem
  width: calc(100% - 160px)
  margin: 0
  background:
    image: url(../img/logo-pin.png)
    size: contain
    repeat: no-repeat
    position: center
  opacity: 1
  transform-origin: top
  animation: logoFade 800ms ease-in-out

  @keyframes logoFade
    0%
      opacity: 0
      transform: scale(.8)

    100%
      opacity: 1
      transform: scale(1)

.news-wrapper
  position: absolute
  top: 0
  bottom: 2rem
  right: 0
  height: 100vh
  width: 240px
  padding-right: 2rem

  overflow: scroll


  .news-box
    color: #444
    opacity: .2
    font-family: "Ubuntu Mono"
    +transition

    &:hover
      opacity: 1

    h2
      text-align: right
      cursor: pointer

      .fa-plus
        display: inline-block
        margin-right: .4rem
        font-size: .8em


    .news-item
      text-align: right
      // opacity: 0
      font-size: .9rem
      border-bottom: 1px solid #eee

      .news-title
        font-size: 1.3rem
        font-weight: bold
        margin-bottom: 0

      .news-date
        margin-top: -.4rem
        font-style: italic


@media (max-width: 800px)
  .startscreen
    height: calc(100vh - 3.5rem)


  .start-logo
    width: auto
    margin: -6rem 1rem 0
@media (max-width: 400px)
  .col-full
    // margin: 0

  .start-logo
    width: auto
    margin: -6rem 1rem 0
