section.team
  background:
    color: white
    // image: url(../img/ps_neutral.png)

  .col-spread
    padding: 0

  .lead-text
    text-align: center
    font-style: italic

  .team-member-box
    margin-top: 3rem
    margin-bottom: 3rem
    max-width: 680px

  .team-member
    margin-bottom: 3rem
    // transform: translate(30px, 0)

    .member-content
      margin: 0 4rem
      border: 2px dotted $background-color
      border-radius: 3px
      box-shadow: 0 2px 5px rgba(black, .1)
      background: lighten($background-color, 14%)
      padding: 1rem 3rem
      position: relative


      .member-img
        width: 60px
        height: 60px
        border-radius: 50%
        background:
          position: center
          size: contain
        box-shadow: 0 2px 4px rgba(black, .7)

        position: absolute
        top: -20px
        left: -20px

      h2
        font:
          family: 'Oswald'
          size: 1.8rem
          weight: lighten
        letter-spacing: .12rem
        display: block
        border-bottom: 1px solid rgba($background-color, .5)
        box-shadow: 0px 1px 0px lighten($background-color, 15%)

      p
        color: #666



  @media (max-width: 680px)
    .col-spread
      margin: 0 1rem

      .member-content
        margin: 0 1rem
