.home-wrap
  display: flex
  overflow: hidden

  @media (max-width: 800px)
    display: block
    background: white

.main-wrapper
  flex: 1
  position: relative
  margin-bottom: 272px
  z-index: 2
  background: white

.home-sections

  section
    padding: 3rem 0

  .flex
    display: flex
    flex-direction: row

  .flex--center
    justify-content: center

  // .flex--center-center
  //   align-items: center

  .flex--space-around
    justify-content: space-around

  .order-first
    order: -1

  .block
    display: block

  .block--left-right
    @include clearfix



// columns

.col-2
  max-width: 18.75rem
  margin: 0 .5rem

.col-full
  // max-width: 39rem
  margin: 0 2.5rem

.col-spread
  max-width: 680px
  margin: 0 2.5rem

.col-3
  max-width: 32%
  margin: 0 .5rem

.col-side
  max-width: 80%
  display: block
  @include clearfix


.col-side--left
  float: left

.col-side--right
  float: right


@media (max-width: 640px)
  .home-sections .flex
    // display: block

  .col-2, .col-3
    max-width: 100%

  .col-side
    max-width: 100%

  .col-spread
    padding: 0 2rem

// TYPOGRAPHY

h1, h2, h3
  font-weight: 300

p
  font-family: 'Open Sans'

.title-text
  font:
    family: 'Oswald'
    size: 4rem
    weight: light

  margin: 1rem 0
  letter-spacing: .1rem
  text-align: center
  text-transform: uppercase

  @media (max-width: 500px)
    font-size: 3rem


.lead-text
  letter-spacing: .1rem
