<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- Custom CSS -->
        <link rel="stylesheet" href={{"/assets/css/0-tools/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl}} >
        <link rel="stylesheet" href={{"/assets/css/main.css" | prepend: site.baseurl}} >


        <!-- javascript -->
        <script type="text/javascript" src={{"/assets/js/jquery.min.js" | prepend: site.baseurl}} ></script>
        <script type="text/javascript" src={{"/assets/js/modal.js" | prepend: site.baseurl}} ></script>
        <script type="text/javascript" src={{"/assets/js/common.min.js" | prepend: site.baseurl}} ></script>


    </head>
    <body>


          {{ content }}


    </body>
</html>
